adpp_args:
  n_actions: 5
data_args:
  decimals: 2
  episode_length: 20
  episodes_per_rollout: 5
  include_task: true
  steps_per_context: 100
data_path: point_env/learned
decay_args:
  final: 100_000
  warmup: 1000
evaluate_ad_args:
  use_heldout_tasks: false
evaluate_adpp_args:
  use_heldout_tasks: true
evaluate_args:
  dummy_vec_env: false
  gamma: 0.99 # TODO
  n_plots: 3
  n_rollouts: 10
grad_norm_clip: 1.0
load_path: null
log_interval: 20
log_tables_interval: 5
lr: 0.001
metrics_args: {}
model_args:
  embd_pdrop: 0.1
  layer_args:
    causal_self_attention_args:
      attn_pdrop: 0.1
      n_head: 4
    resid_pdrop: 0.1
  n_embd: 32
  n_layer: 4
  steps_per_context: 100
n_batch: 50
n_epochs: 2
optimizer_config:
  betas: [0.9, 0.95]
  weight_decay: 0.1
save_interval: 400
seed: 0
test_ad_interval: 25
test_adpp_interval: null
weights_args:
  actions: 5
