ad_envs_args:
  n_processes: 10
  use_heldout_tasks: false
adpp_args:
  n_actions: 5
adpp_envs_args:
  n_processes: 10
  use_heldout_tasks: false
data_args:
  decimals: 1
  episode_length: 20
  include_task: false
  keep_episodes: 1
  mask_nonactions: false
  skip_episodes: 0
  steps_per_context: 100
data_path: point_env/data
decay_args:
  final: 100_000
  warmup: 1000
dummy_vec_env: true
evaluate_args:
  gamma: 0.99 # TODO
  n_plots: 3
grad_norm_clip: 1.0
load_path: null
log_interval: 500
log_tables_interval: 1
lr: 0.001
metrics_args: {}
model_args:
  gpt2_args:
    n_head: 4
    n_layer: 4
  gru: true
  n_embd: 32
  steps_per_context: 100
n_batch: 50
n_epochs: 200
save_interval: 2
seed: 0
test_ad_interval: 1
test_adpp_interval: null
weights_args:
  actions: 5
